/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 300px;
}

button {
  font: inherit;
}

/* || GENERAL STYLE */

body {
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
  min-height: 100vh;
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container {
  background-color: blue;
  border-radius: 30px;
  padding: 3rem;
}

.main__box {
  display: flex;
  align-items: center;
  background-color: #fff;
}

.main__box-info {
  padding: 1.5rem;
  width: 90%;
}

.main__box-info h1 {
  font-size: 2rem;
}

.main__box-info p {
  margin: 2rem 0 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.main__box-info button {
  padding: 0.5rem 1.3rem;
  border-radius: 30px;
  background-color: tomato;
  color: #fff;
  border: none;
  font-size: 1.4rem;
}
